<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
<div class="login-container">
  <img src="static/login.jpg" alt="Login">
  <form>
    <div class="input-group">
      <label for="username">Usuário</label>
      <input type="text" id="username" name="username" [(ngModel)]="usuario" value="{{usuario}}" required>
    </div>
    <div class="input-group">
      <label for="password">Senha</label>
      <input type="password" id="password" name="password" [(ngModel)]="senha" value="{{senha}}" required>
    </div>
    <button (click) = "onloginclick()" type="button" class="login-button">Entrar</button>
  </form>
  <div *ngIf="erroMensagem" class="error-message">
    {{ erroMensagem }}
  </div>
</div>
</body>
</html>

