<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Proposta de Alteração de Boletim Técnico</title>

</head>
<body>
<header>
  <img src="static/gladio_alado.png" alt="Gládio Alado - Força Aérea Brasileira">
  <h1>Proposta de Alteração de Boletim Técnico</h1>
  <img src="static/gladio_alado.png" alt="Gládio Alado - Força Aérea Brasileira">
</header>

<div class="list-title">Detalhes do Projeto</div>

  <div class="top-fields">
    <div class="field" >
      <label>Projeto:</label>
      <div class="dropdown-div" (focusin)="isOpenCdProjetoButton = true" (focusout)="onBlurCdProjeto()">
        <input class="dropdown-input"
               (input)="onSearchCdProjeto(selectedCdProjeto)"
               value="{{selectedCdProjeto}}"
               autocomplete="off"
               name="cdProjeto" placeholder="Digite o código do projeto">
      <div *ngIf="isOpenCdProjetoButton" class="dropdown-list">
        <ul>
          <li *ngFor="let projeto of filteredProjetos" (click)="onSelectCdProjeto(projeto)">
            {{ projeto.cdProjeto }}
          </li>
        </ul>
      </div>
      </div>
      <button class="button-search" type="submit">Pesquisar por Projeto</button> <!-- Botão de pesquisa para cdProjeto -->
    </div>
    <div class="field">
      <label>Sigla do Projeto:</label>
      <div class="dropdown-div" (focusin)="isOpenSgProjetoButton = true" (focusout)="onBlurSgProjeto()">
        <input class="dropdown-input"
               (input)="onSearchSgProjeto(selectedSgProjeto)"
               value="{{selectedSgProjeto}}"
               autocomplete="off"
               name="cdProjeto" placeholder="Digite o código do projeto">
        <div *ngIf="isOpenSgProjetoButton" class="dropdown-list">
          <ul>
            <li *ngFor="let projeto of filteredProjetos" (click)="onSelectSgProjeto(projeto)">
              {{ projeto.sgProjeto }}
            </li>
          </ul>
        </div>
      </div>
      <button class="button-search" type="submit">Pesquisar por Sigla</button> <!-- Botão de pesquisa para sgProjeto -->
    </div>
    <div class="field">
      <label>Descrição:</label>
      <input type="text" value="" placeholder="Descrição do projeto" style="text-align: center;" disabled>
    </div>
  </div>

<div class="container-wrapper">
  <div class="container">
    <div class="list-title">PN/LHA</div>
    <table>
      <thead>
      <tr>
        <th>PN/LHA</th>
      </tr>
      </thead>
      <tbody>
      <tr each="">
        <td>
          <input type="text" value="" style="text-align: center;">
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="container">
    <div class="list-title">Boletins Existentes</div>
    <table>
      <thead>
      <tr>
        <th>Número</th>
        <th>Revisões</th>
        <th>Data</th>
      </tr>
      </thead>
      <tbody>
      <tr each="">
        <td><input type="text" value="" style="text-align: center;"></td>
        <td><input type="text" value="" style="text-align: center;"></td>
        <td><input type="text" value="" style="text-align: center;"></td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="container">
    <div class="list-title">Origem da Proposta</div>
    <div class="origem-fields">
      <div class="field">
        <label>Unidade:</label>
        <input type="text" value="" style="text-align: center;">
      </div>
      <div class="field">
        <label>Setor:</label>
        <input type="text" value="" style="text-align: center;">
      </div>
    </div>
    <div class="list-title">Ação</div>
    <div class="button-container">
      <button>Criar proposta de novo BT</button>
      <button>Criar proposta de alteração de BT</button>
      <button>Ver propostas em andamento</button>
    </div>
  </div>
</div>
</body>
</html>
